%btnLogin {
    display: none;
    position: absolute;
    top: 30px;
    left: 15px;
    background: $colorPrimary;
    border-radius: 10px;
    box-shadow: $boxShadow1;
}
%divSpanLogin {
    width: 100%;
    @include flexBox (column, flex-start, flex-start);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: .7rem;
    a {
        @include flexBox (row, flex-start, center);
        padding-right: 5px;
        color: #555;
        border-radius: 10px;
        img {
            width: 10px;
            height: auto;
            margin-left: 5px;
        }
    }
    &:hover {
        background: #fafafa;
    }
    a:hover {
        color: #000;
    }
}
//