// start font
$fontYekan : 'BYekan', sans-serif;
$fontIranSans : 'IranianSans', sans-serif;
// end font
// start size
$fontSize: 12px;
// end size
// start color
$colorBackground : #f5f5f5;
$colorPrimary : #fff;
$colorInput : #f0f0f1;
$colorRed : #EE384E;
$colorPinckActive : #f8edeb;
// end color
// start box-shadow
$boxShadow1 : 0 0 10px 1px rgba(0, 0, 0, 0.2);
// end box-shadow

