// start font
$fontYekan : 'BYekan', sans-serif;
$fontIranSans : 'IranianSans', sans-serif;
// end font
// start size
$fontSize: 12px;
// end size
// start color
$colorBackground : #f5f5f5;
$colorPrimary : #fff;
$colorInput : #f0f0f1;
$colorRed : #EE384E;
// end color

