@charset "UTF-8";
@import 'fonts.scss';
@import 'variables.scss';
@import 'functions.scss';
@import 'reset.scss';
@import 'utilities.scss';
// start nav-static
.nav-static {
    @include flexBox (row, space-between, center);
    width: 100%;
    height: 60px;
    background: $colorPrimary;
    .logo-and-search-box {
        @include flexBox (row, space-between, center);
        height: 100%;
        .logo {
            padding: 0 20px;
            height: 100%;
            @include flexBox (row, center, center);
            h1 {
                color: $colorRed;
                font-size: 30px
            }
        }
        .search-box {
            @include flexBox (row, center, center);
            width: 600px;
            height: 100%;
            position: relative;
            input {
                width: 100%;
                height: 40px;
                border: none;
                border-radius: 5px;
                padding: 10px 35px 10px 10px;
                font-family: $fontYekan;
                background: $colorInput;
                font-size: 1rem;
                color: #333;
                transition: 0.5s;
                border: 1px solid $colorInput;
                &::placeholder {
                    color: #999;
                    font-size: 1rem;
                }
                &:focus {
                    background: $colorPrimary;
                    border: 1px solid #999;
                    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
                }
            }
            span {
                position: absolute;
                top: 60%;
                transform: translateY(-60%);
                right: 10px;
                width: 15px;
                cursor: pointer;
                img {
                    width: 20px;
                }
            }
        }
    }
    .login-and-sabad-karid{
        height: 100%;
        @include flexBox (row, space-between, center);
        .login-con{
            width: 50%;
            padding: 0px 15px;
            border-left: 1px solid #999;
            position: relative;
            .login-btn {
                @include flexBox (row, center, center);
                padding: 5px 10px;
                border-radius: 5px;
            }
            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .login{
                @extend %btnLogin;
                width: 200px;
                &-con {
                    @include flexBox (column, flex-start, flex-start);
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                    .profile {
                        width: 100%;
                        height: 100%;
                        @include flexBox (row, flex-start, flex-start);
                        div:nth-child(1) {
                            width: 60px;
                            padding: 2px;
                            border-radius: 5px;
                            img {
                                width: 60px;
                                height: 60px;
                                border-radius: 5px;
                            }
                        }
                        div:nth-child(2) {
                            width: 100%;
                            padding: 5px;
                            @include flexBox (column, flex-start, flex-start);
                            &:hover {
                                background: none;
                            }   
                            a {
                                padding-right: 5px;
                            } 
                            a:nth-child(2) {
                                margin-top: 5px;
                            }
                            a:hover {
                                color: #000;
                            }
                        }
                    }
                    div:nth-child(2) {
                        @extend %divSpanLogin;
                    }
                    div:nth-child(3) {
                        @extend %divSpanLogin;
                    }
                }
            }
        }
        .sabad-karid-con{
            width: 50%;
            padding: 0px 15px;
            position: relative;
            .sabad-karid-btn{
                @include flexBox (row, center, center);
                position: relative;
                padding: 5px 10px;
                border-radius: 5px;
                span {
                    position: absolute;
                    top: 50%;
                    right: 2px;
                    padding: 0 5px;
                    border-radius: 5px;
                    font-size: .6rem;
                    color: $colorPrimary;
                    background: $colorRed;
                }
                img {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
            .sabad-karid {
                @extend %btnLogin;
                width: 300px;
                height: 400px;
                .con {
                    width: 100%;
                    height: 100%;
                    @include flexBox (column, space-between, center);
                    .sk-title {
                        max-height: 35px;
                         @include flexBox (row, space-between, center);
                        padding: 10px 20px;
                        width: 100%;
                        border-bottom: 1px solid rgba(0,0,0,.1);
                        span {
                            color: #999;
                        }
                        a {
                            color: #48cae4;
                            &:hover {
                                color: #00b4d8;
                            }
                        }
                    }
                    .sk-main {
                        width: 100%;
                        height: 313px;
                       @include flexBox (column, flex-start, center);
                       overflow-y: auto;
                       .itames {
                           @include flexBox (row, flex-start, flex-start);
                           width: 100%;
                           padding: 10px 5px;
                           .imgBox {
                               width: 60px;
                           }
                           .contentBox {
                               @include flexBox (column, flex-start, flex-start);
                               width: 240px;
                               div:nth-child(1) {
                                   width: 100%;
                                   a {
                                       color: #444;
                                       text-align: justify;
                                       &:hover {
                                           color: #000;
                                       }
                                   }
                               }
                               div:nth-child(2) {
                                   @include flexBox (row, space-between, center);
                                   width: 100%;
                                   padding: 10px 5px;
                                   span:nth-child(1) {
                                       color: #777;
                                   }
                                   span:nth-child(2) {
                                       color: #777;
                                   }
                                   span:nth-child(3) {
                                       width: 20px;
                                       height: 20px;
                                       border-radius: 5px;
                                       cursor: pointer;
                                       padding: 3px;
                                       &:hover {
                                           background: #f8edeb;
                                       }
                                    }
                               }
                           }
                       }
                    }
                    .sk-footer {
                        max-height: 50px;
                        @include flexBox (row, space-between, center);
                        width: 100%;
                        padding: 5px 20px;
                        border-top: 1px solid rgba(0, 0, 0, .1);
                        div {
                            @include flexBox (column, center, center);
                            span:nth-child(1) {
                                color: #777;
                                padding: 2px;
                            }
                            span:nth-child(2) {
                                color: #333;
                                padding: 2px;
                                font-size: 0.9rem;
                            }
                        }
                        a {
                            background: $colorRed;
                            color: $colorPrimary;
                            padding: 10px 25px;
                            border-radius: 5px;
                            &:hover {
                                background: #e63946;
                            }
                        }
                    }
                }
            }
        }
    }
}
@import 'media.scss';