@charset "UTF-8";
@import 'fonts.scss';
@import 'variables.scss';
@import 'functions.scss';
@import 'reset.scss';
@import 'utilities.scss';
// start nav-static
.nav-static {
    @include flexBox (row, space-between, center);
    width: 100%;
    height: 70px;
    background: $colorPrimary;
    .logo-and-search-box {
        @include flexBox (row, space-between, center);
        height: 100%;
        .logo {
            padding: 0 20px;
            height: 100%;
            @include flexBox (row, center, center);
            h1 {
                color: $colorRed;
                font-size: 30px
            }
        }
        .search-box {
            @include flexBox (row, center, center);
            width: 600px;
            height: 100%;
            position: relative;
            input {
                width: 100%;
                height: 40px;
                border: none;
                border-radius: 5px;
                padding: 10px 35px 10px 10px;
                font-family: $fontYekan;
                background: $colorInput;
                font-size: 1rem;
                color: #333;
                transition: 0.5s;
                border: 1px solid $colorInput;
                &::placeholder {
                    color: #999;
                    font-size: 1rem;
                }
                &:focus {
                    background: $colorPrimary;
                    border: 1px solid #999;
                    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
                }
            }
            span {
                position: absolute;
                top: 60%;
                transform: translateY(-60%);
                right: 10px;
                width: 15px;
                cursor: pointer;
                img {
                    width: 20px;
                }
            }
        }
    }
    .login-and-sabad-karid{
        height: 100%;
        @include flexBox (row, space-between, center);
        .login-con{
            width: 50%;
            padding: 0px 15px;
            border-left: 1px solid #999;
            position: relative;
            .login-btn {
                @include flexBox (row, center, center);
                padding: 5px 10px;
                border-radius: 5px;
            }
            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .login{
                @extend %btnLogin;
                width: 200px;
                z-index: 3;
                &-con {
                    @include flexBox (column, flex-start, flex-start);
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                    .profile {
                        width: 100%;
                        height: 100%;
                        @include flexBox (row, flex-start, flex-start);
                        div:nth-child(1) {
                            width: 60px;
                            padding: 2px;
                            border-radius: 5px;
                            img {
                                width: 60px;
                                height: 60px;
                                border-radius: 5px;
                            }
                        }
                        div:nth-child(2) {
                            width: 100%;
                            padding: 5px;
                            @include flexBox (column, flex-start, flex-start);
                            &:hover {
                                background: none;
                            }   
                            a {
                                padding-right: 5px;
                            } 
                            a:nth-child(2) {
                                margin-top: 5px;
                            }
                            a:hover {
                                color: #000;
                            }
                        }
                    }
                    div:nth-child(2) {
                        @extend %divSpanLogin;
                    }
                    div:nth-child(3) {
                        @extend %divSpanLogin;
                    }
                }
            }
        }
        .sabad-karid-con{
            width: 50%;
            padding: 0px 15px;
            position: relative;
            .sabad-karid-btn{
                @include flexBox (row, center, center);
                position: relative;
                padding: 5px 10px;
                border-radius: 5px;
                span {
                    position: absolute;
                    top: 50%;
                    right: 2px;
                    padding: 0 5px;
                    border-radius: 5px;
                    font-size: .6rem;
                    color: $colorPrimary;
                    background: $colorRed;
                }
                img {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
            .sabad-karid {
                @extend %btnLogin;
                width: 300px;
                height: 400px;
                z-index: 3;
                .con {
                    width: 100%;
                    height: 100%;
                    @include flexBox (column, space-between, center);
                    .sk-title {
                        max-height: 35px;
                         @include flexBox (row, space-between, center);
                        padding: 10px 20px;
                        width: 100%;
                        border-bottom: 1px solid rgba(0,0,0,.2);
                        span {
                            color: #999;
                        }
                        a {
                            color: #48cae4;
                            &:hover {
                                color: #00b4d8;
                            }
                        }
                    }
                    .sk-main {
                        width: 100%;
                        height: 313px;
                       @include flexBox (column, flex-start, center);
                       overflow-y: auto;
                       .itames {
                           @include flexBox (row, flex-start, flex-start);
                           width: 100%;
                           padding: 10px 5px;
                           .imgBox {
                               width: 60px;
                           }
                           .contentBox {
                               @include flexBox (column, flex-start, flex-start);
                               width: 240px;
                               div:nth-child(1) {
                                   width: 100%;
                                   a {
                                       color: #444;
                                       text-align: justify;
                                       &:hover {
                                           color: #000;
                                       }
                                   }
                               }
                               div:nth-child(2) {
                                   @include flexBox (row, space-between, center);
                                   width: 100%;
                                   padding: 10px 5px;
                                   span:nth-child(1) {
                                       color: #777;
                                   }
                                   span:nth-child(2) {
                                       color: #777;
                                   }
                                   span:nth-child(3) {
                                       width: 20px;
                                       height: 20px;
                                       border-radius: 5px;
                                       cursor: pointer;
                                       padding: 3px;
                                       &:hover {
                                           background: #f8edeb;
                                       }
                                    }
                               }
                           }
                       }
                    }
                    .sk-footer {
                        max-height: 50px;
                        @include flexBox (row, space-between, center);
                        width: 100%;
                        padding: 5px 20px;
                        border-top: 1px solid rgba(0, 0, 0, .1);
                        div {
                            @include flexBox (column, center, center);
                            span:nth-child(1) {
                                color: #777;
                                padding: 2px;
                            }
                            span:nth-child(2) {
                                color: #333;
                                padding: 2px;
                                font-size: 0.9rem;
                            }
                        }
                        a {
                            background: $colorRed;
                            color: $colorPrimary;
                            padding: 10px 25px;
                            border-radius: 5px;
                            &:hover {
                                background: #e63946;
                            }
                        }
                    }
                }
            }
        }
    }
}
// end nav-static
// start all
.all {
    @include flexBox (column, flex-start, center);
    width: 100%;
    height: 10000px;
    // start nav dynamic
    .navDynamic {
        @include flexBox (row, flex-start, center);
        width: 100%;
        height: 40px;
        position: relative;
        background: $colorPrimary;
        .navOneCon {
            @include flexBox (row, flex-start, center);
            width: 70%;
            height: 100%;
            .ulOneCon {
                @include flexBox (row, flex-start, center);
                width: 100%;
                height: 100%;
                .liItames {
                    @include flexBox (row, flex-start, center);
                    height: 100%;
                    font-size: 0.9rem;
                    color: #333;
                    margin-right: 25px;
                    cursor: pointer;
                    border-bottom: 0px solid #fff;
                    // transition:  all 0.5s;
                    &:hover {
                        // background: #f8edeb;
                        border-bottom: 3px solid #e63946;
                    }
                    img {
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                    }
                    a {
                        @include flexBox (row, flex-start, center);
                        color: #333;
                        img {
                            width: 20px;
                            height: 20px;
                            margin-left: 5px;
                        }
                    }
                    .navCon {
                        display: none;
                        position: absolute;
                        top: 40px;
                        right: 0;
                        width: 100%;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, .1);
                        .navCon2 {
                            @include flexBox (row, flex-start, flex-start);
                            width: 100%;
                            height: 100vh;
                            .nav {
                                @include flexBox (row, flex-start, flex-start);
                                margin-right: 20px;
                                width: 95%;
                                height: 420px;
                                background: #fafafa;
                                border-radius: 0 0 10px 10px;
                                .one {
                                    width: 18%;
                                    height: auto;
                                    border-left: 1px solid rgba(0, 0, 0, 0.08);
                                    ul {
                                        width: 100%;
                                        height: 100%;
                                        @include flexBox (column, flex-start, flex-start);
                                        li {
                                            @include flexBox (row, flex-start, center);
                                            width: 100%;
                                            padding: 15px 10px;
                                            color: #555;
                                            border-right: 3px solid #fafafa;
                                            font-size: 1rem;
                                            img:nth-child(2) {
                                                margin-right: 10px ;
                                                width: 10px;
                                                height: 10px;
                                            }
                                            &:last-child {
                                                // border-radius: 0 0 10px 0;
                                            }
                                            &:hover {
                                                background: #f8edeb;
                                                border-right: 3px solid #e63946;
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                                .klalDg {
                                    display: none;
                                    width: 82%;
                                    height: 420px;
                                    background-color: #333;
                                }
                                .one {
                                    ul {
                                        li {
                                            &:nth-child(1):hover .klalDg {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover .navCon {
                        display: block;
                    }
                }
            }

        }
        .navTowCon {
            width: 30%;
            height: 100%;
        }
    }
    // end nav dynamic

}
// end all
@import 'media.scss';